
.signin {
  display: flex;
  justify-content: flex-start;
    }
     .signin a {
   padding: 21px;
    color: #03a9f4;
    text-transform: uppercase;
 }
    .signin a:hover {
    text-decoration: underline;
   }              