@import url('https://fonts.cdnfonts.com/css/gothix'); 
.bg {
    background: url(https://rare-gallery.com/uploads/posts/5340835-people-crowd-person-audience-black-and-white-silhouette-head-monochrome-watching-black-amp-white-autumn-behind-medium-mass-share-sharing-listen-watch-grey-gradient-png-images.jpg) no-repeat 50% 50%;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100vh;
    width: 100%;
}
.box {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    border-radius: 0.625rem;
    z-index: 2;
	  box-shadow: 2px 2px 2px 2px #ddd;
    
  }
  
  .box h2 {
    margin: 0 0 1.875rem;
    padding: 0;
    color: #ed0b0e;
    text-align: center;
    font-family: 'Gothix', sans-serif;
    letter-spacing: 14px;
    text-transform: uppercase;
    text-decoration: underline;
  }
  
  .box .input {
    position: relative;
  }
  
  .input >input {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.065rem solid #fff;
    outline: none;
    background: transparent;
  }
  
  .box .input label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  
  
  .box .input input:valid ~ label,
  .box .input input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 0;
    color: white;
    font-size: 0.75rem;
    font-family: 'Gothix', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .box .input input:focus ~ label {
    color: red;
  }

  .box input[type="submit"] {
    border: none;
    outline: none;
    color: white;
    background-color: #ed0b0e;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    font-family: 'Gothix', sans-serif;
    letter-spacing: 4px;
  }
  
  .box input[type="submit"]:hover {
    background-color: #ed0b0e;
    text-decoration: underline;
    
  }

  .signup {
    display: flex;
    justify-content: flex-start;
 }

 .signup h4 {
  color: white;
  font-family: 'Gothix', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
 }

 .signup a {
    padding: 21px;
    color: white;
    text-transform: uppercase;
    font-family: 'Gothix', sans-serif;
 }
 .signup a:hover {
    text-decoration: underline;
    color: #ed0b0e;
 }

  