@import url('https://fonts.cdnfonts.com/css/webcomic-whore');

.wrapper {
    height: 100vh;
    background: url(https://rare-gallery.com/uploads/posts/5340835-people-crowd-person-audience-black-and-white-silhouette-head-monochrome-watching-black-amp-white-autumn-behind-medium-mass-share-sharing-listen-watch-grey-gradient-png-images.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.gif-overlay {
    z-index: -1;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    background: rgba(14, 14, 14, 0.8);
}

.popcorn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -145%);
}
.popcorn > img {
  width: 10vw;
  height: 20vh;
}




.hero-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48vw;
    height: 46vh;
    background-size: cover;
    animation-delay: 2s;
    animation: animateGIF 4s cubic-bezier(0,.58,1,.58);
}

.register {
  z-index: 2;
  position: fixed;
  right: 140px;
  line-height: 80px;
  margin: 0 40px;
  padding: 0 10px;
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 4px;
}
.register > a {
  color: grey;
}

.register > a:hover {
  color: white;
  text-decoration: underline;
}

.hero-title {
    position: absolute;
    top: 40%;
    left: 38%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}

.hero-title h1 {
    color: #ed0b0e;
    text-transform: uppercase;
    font-family: 'Webcomic whore', sans-serif;
    font-size: 80px;
    margin-bottom: 0%;
}

.glitch {
    position: relative;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch::before {
    left: 4px;
    text-shadow: -31px 0 rgb(0, 174, 255);
    background: black;
  }
.glitch::after {
    left: -3px;
    text-shadow: -3px 0 blue;
    background: black;
}

.glitch::before {
    clip: rect(54px, 250px, 56px, 40px);
}

@keyframes noise-anim {
    0% {
      clip-path: inset(40% 0 61% 0);
    }
    20% {
      clip-path: inset(92% 0 1% 0);
    }
    40% {
      clip-path: inset(43% 0 1% 0);
    }
    60% {
      clip-path: inset(25% 0 58% 0);
    }
    80% {
      clip-path: inset(54% 0 7% 0);
    }
    100% {
      clip-path: inset(58% 0 43% 0);
    }
}

.glitch::before {
    animation: noise-anim 2s infinite linear alternate-reverse;
}
  
.glitch::after {    
    animation: noise-anim 2s infinite linear alternate-reverse;
}

p {
    color: white;
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 7px;
}

span {
    color: #ed0b0e;
    text-decoration: underline;
}



@media(max-width: 900px) {
    .watch, .hero-title p, .hero-gif {
          display: none !important;
    }

    .hero-title {
          top: 45%;
          left: 50%;
    }

    .hero-title h1 {
          font-size: 32px;
    }
}

.btn {
    height: 51px;
    min-width: 218px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 51px;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #ed0b0e;
    color: black;
  }

  .features {
    position: absolute;
    width: 100%;
    top: 80%;
    left: 44.5%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
  }
  .features > p {
    height: 10px;
    font-size: 12px;
    letter-spacing: 3px;
    box-sizing: border-box;
    margin: 1%;
    padding: 4% 1%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  }


   
  